body img {
    max-width: 100%;
    display: block;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 60px 0;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font: 32px 'Georgia';
    text-decoration: none;
    color: #F1CDB3;
    letter-spacing: 0.06em;
}

.slogan {
    font: 13px 'Arial';
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFF;
    padding-top: 10px;
}

.menu {
    border: none;
    cursor: pointer;
    background: none;
}

.mobile-menu {
    width: 30px;
    display: none;
}

nav li {
    display: inline-block;
}

nav a {
    font: 15px/160% 'Arial';
    text-decoration: none;
    padding-bottom: 3px;
    color: #cdcdcd;
    margin-left: 32px;
    margin-bottom: 20px;

}

.active {
    border-bottom: #F1CDB3 solid 3px;
}


/* MAIN  */


.hero {
    background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
    padding-top: 180px;
}

.hero .flex-wrapper {
    display: flex;
}

.people {
    width: 460px;
    padding-bottom: 80px;
}

.people h1 {
    width: 325px;
    font: 44px/130% Georgia;
    color: #FFFFFF;
}

.people p {
    font: 15px/160% 'Arial';
    color: #CDCDCD;
    padding: 42px 0 41px;
}

.people button {
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    width: 207px;
    height: 52px;
    font: 17px Georgia;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
}

.people button:hover {
    background: #FDDCC4;
}


/* SECTION 1 */


.about .container {
    padding: 80px 0 100px;
    background: #FFF;
}

.about .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 45px;
    padding-left: 50px;
}

.description {
    width: 430px;
}

.description h2 {
    font: 35px/130% Georgia;
    letter-spacing: 0.06em;
    color: #545454;
}

.description p {
    font: 15px/160% Arial;
    color: #4C4C4C;
    padding-top: 25px;
}


/* SECTION 2 */


.friends {
    padding-top: 80px;
    background: #F6F6F6;
}

.friends h2 {
    max-width: 400px;
    margin: auto;
    font: 35px/130% Georgia;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 60px;
}

.friends p {
    font: 20px/23px Georgia;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.cards-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider div {
    display: inline-block;
    text-align: center;
    width: 270px;
    background: #FAFAFA;
}

.center_dog {
    margin: 0 88px;
}

.slider p {
    padding: 30px 0;
}

.left_button {
    width: 52px;
    height: 52px;
    background: url(../images/Arrow_left.png) no-repeat center;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
}

.left_button:hover {
    background-color: #F1CDB3;
}

.right_button {
    width: 52px;
    height: 52px;
    background: url(../images/Arrow_right.png) no-repeat center;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
}

.right_button:hover {
    background-color: #F1CDB3;
}

.learn_more {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font: 17px/130% Georgia;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: #FAFAFA;
    margin-bottom: 30px;
    cursor: pointer;
}

.next {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
}

.get_to {
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    width: 261px;
    height: 52px;
    font: 17px Georgia;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    /* margin: 60px 470px 100px; */
}

.get_to:hover {
    background: #FDDCC4;
}



/* SECTION 3 */



.help {
    background: #FFF;
}

.help h2 {

    padding-top: 80px;
    margin: auto;
    font: 35px/130% Georgia;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 60px;
}

.icons-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
    padding: 0 0 100px;

}

.icon {
    text-align: center;
}

.icon img {
    margin: auto;
    width: 60px;
    height: 60px;
}

.icon p {
    font: 20px/115% Georgia;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 25px;
}

/* SECTION 4 */

.donation {
    background: #F6F6F6;
}

.donation .container {
    padding: 80px 0 100px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.donation-block {
    width: 380px;
}

.donation-block h2 {
    font: 35px/130% Georgia;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation-block h3 {
    padding: 20px 0;
    font: 15px/110% Georgia;
    letter-spacing: 0.06em;
    color: #545454;
}

.number {
    display: inline-block;
    padding: 10px 15px 10px 60px;
    background: url(../images/credit_card.svg) #F1CDB3 no-repeat left;
    background-position: 15px, 10px;
    border-radius: 9px;
    font: 20px/115% 'Georgia';
    letter-spacing: 0.06em;
    color: #545454;
}

.block {
    padding-top: 20px;
    font: 12px/18px Arial;
    font-style: italic;
    color: #B2B2B2;
}

/* FOOTER  */

footer {
    background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
    padding-top: 40px;
}


footer .flex-wrapper div {
    max-width: 300px;
}

footer .flex-wrapper {
    align-items: flex-start;
}

footer h2 {
    font: 400 35px 'Georgia';
    color: #fff;
    letter-spacing: 0.06em;
    padding-top: 16px;
    margin-bottom: 33px;
}

footer p {
    font: 400 20px/115% 'Georgia';
    letter-spacing: 0.06em;
    color: #F1CDB3;
    min-height: 46px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    margin-bottom: 27px;
}

footer a {
    color: #F1CDB3;
    text-decoration: none;
}

footer .email {
    background: url(../images/email.svg) no-repeat left center;
}

footer .tel {
    background: url(../images/phone.svg) no-repeat left center;
}

footer .local {
    background: url(../images/pin.svg) no-repeat left center;
    padding-left: 42px;
}




@media (max-width: 1220px) {
    .container {
        max-width: 95%;
    }

    .slider div:nth-child(3) {
        display: none;
    }

    .center_dog {
        margin: 0 0 0 20px;
    }

    .katrine {
        margin-right: 20px;
    }
}

@media (max-width: 989px) {
    .hero .flex-wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .dog {
        max-width: 569px;
    }

    .about .flex-wrapper {
        flex-direction: column-reverse;
    }

    .about .flex-wrapper {
        padding-right: 0;
        padding-left: 0;
    }

    .pet_1 {
        padding-top: 80px;
    }
}

@media (max-width: 889px) {
    .flex {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

@media (max-width: 1140px) {
    .icons-wrapper {
        width: 630px;
        justify-content: space-between;
        column-gap: 0;
    }

    .icon {
        width: 170px;
    }
}

@media (max-width: 932px) {
    footer .container {
        width: 708px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    .slider div:nth-child(2) {
        display: none;
    }

    .mobile-menu {
        display: block;
        margin-right: 23px;
    }

    nav {
        display: none;
    }

    .cards-flex {
        position: relative;
    }

    .left_button,
    .right_button {
        position: absolute;
        bottom: -72px;
    }

    .left_button {
        left: 50%;
        transform: translateX(-92px);
    }

    .right_button {
        right: 50%;
        transform: translateX(92px);
    }

    .next {
        margin-top: 50px;
    }
}

@media (max-width: 661px) {
    nav a {
        margin-left: 10px;
    }
}

@media (max-width: 631px) {
    footer h2 {
        font-size: 25px;
        text-align: center;
    }
}


@media(max-width: 579px) {

    .friends h2 {
        font-size: 25px;
    }

    .help .container {
        max-width: 290px;
    }

    .icon {
        display: block;
        width: 130px;
    }

    .icon p {
        font-size: 15px;
    }

    .help .container h2 {
        font-size: 25px;
    }

    .donation .container {
        width: 300px;
    }

    .donation-block {
        width: 270px;
    }

    .number {
        width: 281px;
        font-size: 15px;
    }

    .donation .container h2 {
        text-align: center;
        font-size: 25px;
    }

    .dog_4 {
        padding-top: 42px;
    }
}




@media (max-width: 490px) {

    
    .pet_1 {
        width: 260px;
    }

    .description {
        width: 270px;
    }

    .description h2 {
        font-size: 25px;
        text-align: center;
    }

    .hero .container {
        text-align: center;
    }
    
    .dog, .puppy {
        width: 260px;
    }

    .people h1 {
        font-size: 25px;
    }

    .people {
        width: 300px;
    }
}


