* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    padding: 30px 0;
    background-color: #fff;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font: 32px/35px 'Georgia';
    text-decoration: none;
    letter-spacing: 0.06em;
    color: #545454;
}

.slogan {
    font: 13px/15px 'Arial';
    letter-spacing: 0.1em;
    color: #292929;
    padding-top: 10px;
    padding-left: 4px;
    display: flex;
    align-items: center;

}

.menu {
    border: none;
    cursor: pointer;
    background: none;
}

.mobile-menu {
    width: 30px;
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 35px;
}

nav a {
    display: block;
    font: 400 15px Arial;
    text-decoration: none;
    color: #545454;
    padding-bottom: 4px;
}

.active {
    border-bottom: #f1cdb3 solid 3px;
}


/* MAIN  */


main {
    padding: 80px 0 100px;
    background-color: #f6f6f6;
}

h1 {
    font: 35px/45px 'Georgia';
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 60px;
    text-align: center;
}

.pets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.pet-card {
    background-color: #fff;
    flex-basis: 270px;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.pet-card p {
    margin: 30px 0;
    color: #545454;
    letter-spacing: 0.06em;
    font-size: 20px;
}

.learn-more {
    display: inline-block;
    padding: 15px 45px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    color: #292929;
    text-decoration: none;
    letter-spacing: 0.06em;
    font-size: 17px;
}

.pets-nav {
    width: 340px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.pets-nav-button {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}



.pets-nav .disabled {
    border: #cdcdcd 1px solid;
    color: #CDCDCD;
    background: #FFF;
}

.pets-nav .active-page {
    border: #F1CDB3 1px solid;
    background: #F1CDB3;
}

.pets-nav .active-nav {
    border: #F1CDB3 1px solid;
    color: #F1CDB3;
    background: #FFF;
}





/* FOOTER */

footer {
    background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
    padding-top: 40px;
}

img {
    display: block;
}

footer .footer-text {
    width: 300px;
}

footer .flex-wrapper {
    align-items: flex-start;
}

footer h2 {
    font: 400 35px Georgia;
    color: #fff;
    letter-spacing: 0.06em;
    padding-top: 16px;
    margin-bottom: 33px;
}

footer p {
    min-height: 46px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    color: #F1CDB3;
    margin-bottom: 27px;
}

footer a {
    color: #F1CDB3;
    text-decoration: none;
}

footer .email {
    background: url(../images/email.svg) no-repeat left center;
}

footer .tel {
    background: url(../images/phone.svg) no-repeat left center;
}

footer .local {
    background: url(../images/pin.svg) no-repeat left center;
    padding-left: 42px;
}




@media(max-width: 1220px){
    .container {
        width: 95%;
    }
}

@media (max-width: 932px) {
    footer .container {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (max-width: 852px) {
    .freddie, .scarlet {
        display: none;
    }
    .pets {
        justify-content: space-around;
    }
}

@media(max-width: 767px){
    .mobile-menu {
        display: block;
        margin-right: 23px;
    }

    nav {
        display: none;
    }
}

@media (max-width: 632px) {
    footer h2 {
        font-size: 25px;
        text-align: center;
        width: 270px;
    }
}

@media(max-width: 568px){
    h1 {
        font-size: 25px;
    }

    .charly, .timmy, .sofia {
        display: none;
    }

    .pets-nav{
        width: 300px;
    }
}

@media (max-width: 490px) {
    footer .puppy {
        width: 260px;
    }
}