@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
    font-family: 'Play', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #FFF;
    padding-bottom: 24px;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #FFF;
    padding: 10px 0 51px;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFF;
    padding-bottom: 26px;
}