body {
    background-image: url(./img/cat.png);
    background-size: cover;
}

main {
    width: 30%;
    font-family: Tahoma;
    color: rgb(255, 255, 255);
    padding-left: 30px;
}

h2 {
    background-image: linear-gradient(to top, rgb(148, 26, 26), rgba(255, 0, 0, 0) );
    padding: 10px;
}